// Global styles
@use 'global';

// AB_accordion
@use 'components/AB_accordion';

// Demo styles
main {
	.group {

		@media (min-width: 769px) {
			display: flex;
		}

		#accordion_one {
			margin-bottom: 25px; 
			
			@media (min-width: 769px) {
				margin-right: 2%;
			}
		}

		#accordion_two {
			margin-bottom: 25px;
		}
	}
}

.accordion ul li .item .header {
	background: #333;

	.toggle {
		background: #444;;
	}
}