/**
 * AB_accordion
 * version: 1.0.0
 */

.accordion {

	box-shadow: 0 0 15px #ccc;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;

			&:first-child {
				border-radius: 5px 5px 0 0;
				overflow: hidden;
			}

			&:last-child {
				border-radius: 0 0 5px 5px;
				overflow: hidden;
			}

			.item {
				

				.header {
					padding: 15px;
					font-weight: bold;
					color: #fff;
					position: relative;
					font-size: 18px;
					cursor: pointer;

					.toggle {
						position: absolute;
						right: 0;
						top: 0px;
						font-weight: normal;
						font-size: 22px;
						display: inline-block;
						padding: 12px 17px 0 17px;
						height: 100%;
						cursor: pointer;
					}

					.toggle span {
						display: inline-block;
						width: 14px;
						height: 100%;
					}

					.toggle span:after {
						content: '+';
					}
				}

				.body {
					background: #fff;
					padding: 15px;
					font-size: 18px;
					display: none;
				}
			}

			.current-item {

				.header {
					
					.toggle {
						padding: 11px 16px 15px 18px;

						span {
							transform: rotate(45deg);
						}
					}

				}

				.body {
					display: block
				}
			}
		}
	}
}